<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
       appId      : '[[[mt_facebook:app_id()]]]',
       status     : true,
       cookie     : true,
       xfbml      : true
    });
  };
  (function(d){
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));
</script>
<div
   class="fb-login-button"
   data-perms="[[[mt_facebook:data_perms()]]]"
   data-redirect-uri="[[[mt_facebook:login_redirect_uri()]]]"
   >Login with Facebook</div>
