<p>
  <a href="http://metalkia.com">Metalkia</a> — это платформа для блогов.
  <br />
  В данный момент платформа проходит бета-тестирование.
</p>

<p>
  Доступна регистрация через Facebook и Twitter. После регистрации необходимо создать профиль в Metalkia, просто выбрав желаемое имя пользователя и проверив его доступность. Используя единый профиль Metalkia, можно комментировать записи и писать в блоги, созданные на платформе.
</p>

<p>
  Профиль пользователя будет доступен по адресу http://&lt;USERNAME&gt;.metalkia.com/profile
</p>

<p>
  В основном блоге пользователя по адресу http://&lt;USERNAME&gt;.metalkia.com будут отображаться все посты, написанные им.
</p>

<p>
  Дополнительные блоги могут быть двух видов: с собственным доменом, и по адресу http://&lt;USERNAME&gt;.metalkia.com/blog/&lt;BLOGNAME&gt;
</p>

<p>
  В блогах появляются записи, снабжённые заданным набором тегов, от одного или нескольких пользователей. При создании блога указывается список потоков, которые будут попадать в эти блоги. Поток — это имя пользователя и список тегов. Таким образом можно подписываться только на интересующие потоки от определённых пользователей, игнорируя неинтересные записи.
</p>

<p>
  Для сокрытия части поста в списке постов блога используется тег &lt;mt-cut&gt;. Часть поста после этого тега не будет отображаться в блоге, вместо неё появится ссылка "Read more", ведущая на полный текст.
</p>

<p>
  О проблемах и пожеланиях можно писать на адрес <a href="mailto:metalkia@metachord.com">metalkia@metachord.com</a>
</p>
