/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body {
    /* font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; */
    /* font-family: 'PT Sans Caption', sans-serif; */
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 32px;
    background-color: #ffffff;
    padding-top: 60px;
}

.sidebar {
    background-color: #ffffff;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    /* font-family: Arial, sans-serif; */
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    /* font-family: Arial, sans-serif; */
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    /* font-family: Arial, sans-serif; */
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    /* font-size: 1em; */
    /* line-height: 2em; */
    /* margin-top: 2em; */
    /* margin-bottom: 2em; */
}


a, a:visited {
    color: #4488FF
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* .link { */
/*     color: #0000FF; */
/* } */

label {
  padding-top: 6px;
  font-size: inherit;
  line-height: inherit;
  float: left;
  width: 130px;
  text-align: right;
  color: inherit;
}

.label {
  padding: 1px 3px 2px;
  font-size: 12px;
  font-weight: inherit;
  color: inherit;
  text-transform: none;
  white-space: nowrap;
  background-color: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mt-label {
  padding: 1px 3px 2px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: right;
  text-transform: none;
  white-space: nowrap;
  background-color: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mt-entry {
  padding: 1px 3px 2px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #000000;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
  background-color: inherit;
  border-color: #55aa55;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.inplace_textbox .instructions {
    padding-left: 12px;
    color: #aa8844;
    font-size: 0.8em;
}

.mt-textbox {
    border: none;
    outline: none;
}

.warning {
    outline: solid 3px #f66;
}

.approved {
    outline: solid 3px #6f6;
}

textarea.post-input {
    width: 500px;
    height: 400px;
}

.post-body {
    width: inherit;
    padding: 0px 0px 0px 0px;
    right: 0;
}

div.post-body p {
    width: inherit;
    padding: 0px 0px 0px 0px;
    right: 0;
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0;
    text-indent: 0em;
}

div.post-body p + p {
    margin-top: 1.2em;
}

.comment-box {
    /* border: dashed 1px #F0F; */
    min-height: 120px;
    line-height: inherit;
}

.comment-body {
    /* border: dashed 1px #F55; */
    /* line-height: 0px; */
    width: inherit;
    padding: 0px 0px 0px 0px;
    right: 0;
    min-height: 80px;
}

.comment-anchor {
    /* border: dashed 1px #DDD; */
    /* line-height: 0px; */
    width: inherit;
    padding: 0px 0px 0px 0px;
    right: 0;
}

.comment-anchor-link {
    color: #44634A;
}

.post-handlers {
    float: top;
    font-size: 9px;
    margin-bottom: 0px;
    color: #88F;
}

div.post-handlers a {
    padding: 1px 3px 2px;
    color: #555599;
    text-decoration: none;
}

.user-identify-box {
    /* border: dashed 1px #5F5; */
    left:0;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}

.user-avatar {
    float: top;
}

.user-name {
    float: top;
    color: #000000;
    padding: 0px, 0px, 0px;
    font-size: 10px;
}

pre {
    font-size: 12px;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 20px; /*--Height of each line of code--*/
    background: url(pre_code_bg.gif) repeat-y left top; /*--Background of lined paper--*/
    overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
    overflow-y: hidden;  /*--Hides vertical scroll created by IE--*/
}
pre code {
    margin: 0 0 0 40px;  /*--Left Margin--*/
    padding: 18px 0;
    display: block;
}
